.project-section{
    padding-top: 100px;
    /* background-color: aquamarine; */
    margin-bottom: 200px;
}

.text-project{
    color: white;
    font-weight: bold;
    font-size: 3rem;
    margin-left:45% ;
}

.ind_project_containter{
    display: flex;
    margin-left: 50px;
    margin-right: 50px;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}

.project-text{
    flex: 0.3;
    margin-left: 270px;
    margin-top: 80px;
    align-items: center;
    justify-content: center;
}

.project-img{
    flex: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project-name{
    /* display: block; */
    color: white;
    width: 0;
    white-space: nowrap;
    font-weight: 500;
    font-size: 30px;
}

.project-description{
    color: white;
    width: 0;
    white-space: nowrap;
    font-weight: 300;
    font-size: 15px;
}

.project-icons{
    margin: 10px;
    width: 225px;
    filter: invert(1);
}

@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }
    to {
        opacity: 1;
        scale: 1;
    }
}